# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid
*.pid

# Docker
.env
.docker/
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db